<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>총알 피하기 게임</title>
    <style>
        canvas {
            border: 1px solid black;
            display: block;
            margin: 0 auto;
        }
    </style>

</head>

<body>
    <canvas id="gameCanvas"></canvas>
    <button id="startButton" onclick="main()">
        <img th:src="@{/imgs/start.png}" width="150px" height="150px">
    </button>
    <div id="timer">시간: 0</div>
    <script>
        let gameOver = false;
        let canvas = document.querySelector('#gameCanvas');
        let ctx = canvas.getContext('2d');
        canvas.width = 400;
        canvas.height = 400;

        let gameTimer; // 게임 타이머 변수
        let seconds = 0; // 초 카운터 변수

        let keysDown = {};

        let humanX = canvas.width / 2 - 32;
        let humanY = canvas.height - 64;
        let humanImage
        let shootImage
        let gameOverImage

        function loadImage() {
            humanImage = new Image();
            humanImage.src = "./../imgs/human.png";
            shootImage = new Image();
            shootImage.src = "./../imgs/bullet2.png";

        }
        gameOverImage = new Image();
        gameOverImage.src = "./../imgs/gameover.jpg";



        function update() {
            if (39 in keysDown && 38 in keysDown) {
                // 오른쪽 + 위
                humanX += 2.5;
                humanY -= 2.5;
            } else if (39 in keysDown && 40 in keysDown) {
                // 오른쪽 + 아래
                humanX += 2.5;
                humanY += 2.5;
            } else if (37 in keysDown && 38 in keysDown) {
                // 왼쪽 + 위
                humanX -= 2.5;
                humanY -= 2.5;
            } else if (37 in keysDown && 40 in keysDown) {
                // 왼쪽 + 아래
                humanX -= 2.5;
                humanY += 2.5;
            } else if (39 in keysDown) {
                // 오른쪽
                humanX += 5;
            } else if (37 in keysDown) {
                // 왼쪽
                humanX -= 5;
            } else if (40 in keysDown) {
                // 아래
                humanY += 5;
            } else if (38 in keysDown) {
                // 위
                humanY -= 5;
            }
            for (let i = 0; i < shootList.length; i++) {
                shootList[i].update();
            }

        }

        function render() {

            // 캔버스를 클리어
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // 사람 이미지 그리기
            ctx.drawImage(humanImage, humanX, humanY, 30, 30);

            // 발사체 이미지 그리기
            for (let i = 0; i < shootList.length; i++) {
                ctx.drawImage(shootImage, shootList[i].x, shootList[i].y, 20, 20);
            }
        }

        function animation() {
            if (!gameOver) {
                update();
                render();
                requestAnimationFrame(animation);
            } else {
                ctx.drawImage(gameOverImage, 10, 10, 400, 200);
            }
        }

        function setupKeyboardListener() {
            document.addEventListener("keydown", function (event) {
                keysDown[event.keyCode] = true;
                console.log(keysDown);
            });

            document.addEventListener("keyup", function (event) {
                delete keysDown[event.keyCode];
                console.log(keysDown);
            })
        }
        function generateRandomValue(min, max) {
            let randomNum = Math.floor(Math.random() * (max - min + 1)) + min
            return randomNum;
        }

        let shootList = [];

        function shoot() {
            this.x = 0;
            this.y = 0;
            let randomDirection = Math.floor(Math.random() * 3);
            let randomPosition = Math.floor(Math.random() * 2);
            console.log(randomPosition);
            //위
            if (randomPosition == 0) {
                this.init = function () {
                    this.y = 0;
                    this.x = generateRandomValue(0, canvas.width - 48)
                    shootList.push(this);
                };
            }
            //아래
            if (randomPosition == 1) {
                this.init = function () {
                    this.y = 400;
                    this.x = generateRandomValue(0, canvas.width - 48)
                    shootList.push(this);
                };
            }

            this.update = function () {
                //직선
                if (randomDirection == 0 && randomPosition == 0) {
                    this.y += 3;
                }
                if (randomDirection == 0 && randomPosition == 1) {
                    this.y -= 3;
                }
                //왼쪽에서 오른쪽
                if (randomDirection == 1 && randomPosition == 0) {
                    this.y += 3;
                    this.x += 3;
                }
                if (randomDirection == 1 && randomPosition == 1) {
                    this.y -= 3;
                    this.x += 3;
                }
                //오른쪽에서 왼쪽
                if (randomDirection == 2 && randomPosition == 0) {
                    this.y += 3;
                    this.x -= 3;
                }
                if (randomDirection == 2 && randomPosition == 1) {
                    this.y -= 3;
                    this.x -= 3;
                }
                if (
                    this.x < humanX + 30 &&  //30은 휴면의 사진 크기 20은 총알의 크기
                    this.x + 20 > humanX &&
                    this.y < humanY + 30 &&
                    this.y + 20 > humanY
                ) {
                    gameOver = true;
                    document.querySelector('#startButton').disabled = false;
                    alert(`게임종료, 버틴시간 :  + ${seconds}`);
                    clearInterval(gameTimer);
                }
            }
        };

        function createshoot() {
            const interval = setInterval(function () {
                let e = new shoot()
                e.init()
            }, 100)
        }


        function main() {
            loadImage();
            setupKeyboardListener();
            animation();
            gameTimer = setInterval(updateTimer, 1000);
            createshoot();
            document.querySelector('#startButton').disabled = true;
        }

        function updateTimer() {
            // 초 카운터를 1씩 증가
            seconds++;

            // 화면에 시간을 업데이트
            document.querySelector('#timer').textContent = `시간: ${seconds}`;
        }



    </script>
</body>

</html>