<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>총알 피하기 게임</title>
    <style>
        canvas {
            border: 1px solid black;
            display: block;
            margin: 0 auto;
        }
        
    </style>

</head>
<body>
    <canvas id="gameCanvas" width="1300" height="1000"></canvas>
    <button id="startButton"  onclick="start()">
        <img th:src="@{/imgs/start.png}" width="150px" height="150px"> 
    </button>
    <div id="timer">시간: 0</div>
    <script>
        let bulletImg;

        const canvas = document.querySelector('#gameCanvas');
        const ctx = canvas.getContext('2d');
        
        function loadImg(){
            bulletImg  = new Image();
            bulletImg.src = "./../imgs/bullet2.png";
        }

        function renderImg(){
            ctx.drawImage(bulletImg,0,0,80,80)
        }
        function main(){
            renderImg();
            requestAnimationFrame(main);
        }
        loadImg();
        main();
    </script>
</body>
</html>
