canvas {
    border: 1px solid black;
    display: block;
    margin: 0;
    background-image: url(".././imgs/screen1.jpg");
}

body {
    background-color: black;
    /* 애니메이션 효과 설정 */
}

#timer {
    color: white;
    border: 3px;
    font-family: 'DotGothic16', sans-serif;
    ;
    font-size: 40px;
    text-align: center;
}

#press {
    color: white;
    border: 3px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 40px;
    text-align: center;
}

#gameOverText {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 36px;
}

#bestScore {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 40px;
}

#bestScoreValue {
    font-family: 'DotGothic16', sans-serif;
    color: white;
    font-size: 40px;
}

table {
    border-color: white;
    font-family: 'DotGothic16', sans-serif;
    color: white;
    width: 300px;
    height: 300px;
}
#canvasDiv{
    display: flex;
    justify-content: center;
}