<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    안녕하세요 타임리프입니다.
    <div th:if="${session.user} == null">
        <a href="/tmpl/user-info/login">로그인</a>
        <a href="/tmpl/user-info/insert">회원가입</a>
    </div>
    <div th:if="${session.user} != null">
        <span th:text="${session.user.uiName}"></span>님 안녕하세요.<br>
        <a href = "/tmpl/main">두더지 잡기</a>
        <ul></ul>
    </div><br>
    <button onclick="location.href='/tmpl/user-info/list'">list</button>
</body>
</html>