<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>나이</th>
            <th>주소</th>
        </tr>
        <tr th:each="map:${list}">
            <td th:text="${map.num}"></td>
            <td th:text="${map.name}"></td>
            <td th:text="${map.age}"></td>
            <td th:text="${map.addr}"></td>
        </tr>
    </table>
</body>
</html>