<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function getData(){
            const formObjs = document.querySelectorAll('input[id], select[id], textarea[id]');
            const data = {};
            for(const formObj of formObjs){
                if(formObj.type === 'radio'){
                    if(!data[formObj.name] && document.querySelector(`[name=${formObj.name}]:checked`)){
                        data[formObj.name] = document.querySelector(`[name=${formObj.name}]:checked`).value;
                    }
                }else if(formObj.type === 'checkbox'){
                    const checkObjs = document.querySelectorAll(`[name=${formObj.name}]:checked`);
                    const values = [];
                    for(const checkObj of checkObjs){
                        values.push(checkObj.value);
                    }
                    data[formObj.name]  = values;
                }else if(formObj.type === 'select-multiple' ){
                    const selectedObjs = document.querySelectorAll(`[id=${formObj.id}] option:checked`);
                    const values = [];
                    for(const selectedObj of selectedObjs){
                        values.push(selectedObj.value);
                    }
                    data[formObj.id]  = values;
                }
                else{
                    data[formObj.id] = formObj.value;
                }
            }
            return data;
        }
        function getJsonFromData(){
            return JSON.stringify(getData());
        }    
    </script>
</head>
<body>
    이름 : <input type="text" id="uiName"><br>
    아이디 : <input type="text" id="uiId"><br>
    비밀번호 : <input type="text" id="uiPwd"><br>
    전화번호 : <input type="text" id="uiMobile"><br>
    이메일 : <input type="text" id="uiEmail"><br>
    생년월일 : <input type="text" id="uiBirth"><br>
    <button onclick="join()" id="btn">회원가입</button>
    <script>
        async function join(){
            const data = getJsonFromData();
            const res = await fetch('/user-infos',{
                method: 'POST',
                body: data,
                headers:{
                    'Content-Type':'application/json;charset=UTF-8'
                }
            })
            const msg = await res.json();
            alert(msg.msg);
            if(msg.url){
                location.href=msg.url;
            }
        }
    </script>
</body>
</html>