<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logIn.css}">
    <title>로그인 폼</title>
</head>

<body>
    <div class="login-box">
        <h2>로그인</h2>
        <div class="user-box">
            <input type="text" name="uiId" id="uiId" required="">
            <label>UserId</label>
        </div>
        <div class="user-box">
            <input type="password" name="uiPwd" id="uiPwd" required="">
            <label>Password</label>
        </div>
        <a onclick="login()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign In</a>
        <a href="/tmpl/user-info/insert" style="margin-left: 50px;">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign Up</a>
    </div>
    <script>
        async function login() {
            const json = JSON.stringify({
                uiId: document.querySelector('#uiId').value,
                uiPwd: document.querySelector('#uiPwd').value,
            });

            const res = await fetch('/login', {
                method: 'POST',
                body: json,
                headers: {
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            })
            const msg = await res.json();
            alert(msg.msg);
            if (msg.url) {
                location.href = msg.url;
            }
        }
    </script>
</body>

</html>