<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div.error-div{
            color:red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form method="post" action="/login">
        <input type="text" name="uiId" id="uiId"><br>
        <input type="text" name="uiPwd" id="uiPwd"><br>
        <div class="error-div" th:text="${msg}"></div>
        <button type="button" onclick="login()">로그인</button>
    </form>
    <script>
        async function login(){
            const json = JSON.stringify({
                uiId : document.querySelector('#uiId').value,
                uiPwd : document.querySelector('#uiPwd').value,
            });

            const res = await fetch('/login',{
                method:'POST',
                body: json,
                headers:{
                    'Content-Type':'application/json;charset=UTF-8'
                }
            })
            const msg = await res.json();
            alert(msg.msg);
            if(msg.url){
                location.href= msg.url;
            }
        }
    </script>
</body>
</html>