<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div.error-div{
            color:red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div th:text="${session.user.uiName} + '님 반갑습니다.'"></div>
    <form method="post" action="/login">
        <input type="text" name="uiId"><br>
        <input type="text" name="uiPwd"><br>
        <div class="error-div" th:text="${msg}"></div>
        <button>로그인</button>
    </form>
</body>
</html>