<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.team1.mapper.PointInfoMapper">
    <insert id="insertPointInfo">
        INSERT INTO POINT_INFO(GI_NUM, UI_NUM, PI_POINT)
        VALUES(#{giNum},#{uiNum},#{piPoint})
    </insert>
</mapper>